.correct-message {
    /* color: green; */
    /* font-weight: bold; */
    border: 1px solid green;
    /* padding: 10px;
    border-radius: 8px; */
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.5); 
    animation: pop 0.5s ease;
  }

.uncorrect-message {
/* color: red; */
/* font-weight: bold; */
border: 1px solid red;
/* padding: 10px; */
/* border-radius: 8px; */
box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.5); 
animation: pop 0.5s ease;
}
.test1   {
  font-family: "Helvetica Neue";
  }
.test2   {
  font-family: "Helvetica";
  }
  
  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }